# all generated data under clash
data/clash/*.csv

# all result csvs under scripts
scripts/**/*.csv

# all temp files
scripts/**/*.pyc

# vcfs
data/**/*.vcf

# genome FASTA files
data/**/*.fa

# all result csvs
results/**/*.csv

# TODO
TODO.md